language: node_js
node_js:
  - 4.2.2
before_install:
  - pip install --user codecov
after_success:
  - codecov --file coverage/lcov.info --disable search
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
